yt-live-chat-header-renderer > #primary-content {
  min-width: 0;
}
yt-live-chat-header-renderer > #primary-content > #view-selector > yt-sort-filter-sub-menu-renderer {
  width: 100%;
}
yt-live-chat-header-renderer > .ylcs-menu-button.ylcs-active-menu-button > button > yt-icon {
  color: #4387f1!important;
}
yt-live-chat-header-renderer > .ylcs-menu-button > button > yt-icon > svg {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}

.ylcs-guest-hidden yt-live-chat-item-list-renderer
yt-live-chat-text-message-renderer[author-type=''] {
  display: none!important;
}
.ylcs-member-hidden yt-live-chat-item-list-renderer
yt-live-chat-text-message-renderer[author-type=member] {
  display: none!important;
}
.ylcs-moderator-hidden yt-live-chat-item-list-renderer
yt-live-chat-text-message-renderer[author-type=moderator] {
  display: none!important;
}
.ylcs-owner-hidden yt-live-chat-item-list-renderer
yt-live-chat-text-message-renderer[author-type=owner] {
  display: none!important;
}
.ylcs-superchat-hidden yt-live-chat-item-list-renderer
yt-live-chat-paid-message-renderer {
  display: none!important;
}
.ylcs-supersticker-hidden yt-live-chat-item-list-renderer
yt-live-chat-paid-sticker-renderer {
  display: none!important;
}
.ylcs-membership-hidden yt-live-chat-item-list-renderer
yt-live-chat-legacy-paid-message-renderer {
  display: none!important;
}
